@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.container .card-contain {
  background-color: #1c2321;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.15s;
}
.imgCard {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.imgCard img {
  width: 100px;
  background-size: cover;
}
.nameContainer {
  background-color: #19323c;
  width: 100%;
  margin: 0;
  border-radius: 8px 8px 0 0;
  font-weight: 500;
}
.card-contain:hover {
  background-color: #0d5c63;
}
.typeContainer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #333;
  background-color: white;
}
.navbar-left {
  display: flex;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left .poke-logo {
  display: block;
  width: 120px;
  height: 40px;
  background-size: cover;
  margin: auto 0;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border: 1px solid white;
  padding: 8px;
  border-radius: 8px;
  margin-left: 8px;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid #333;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19323c;
  color: white;
  height: 2rem;
  font-size: 0.75rem;
}
